.home{
   position: relative; 
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   /* background-image: url('https://img.freepik.com/premium-photo/dried-pampas-grass-beige-background_364465-565.jpg?w=826'); */
    background-image: url('https://img.freepik.com/premium-photo/floral-border-frame-card-template-multicolor-flowers-leaves-banner-wedding-card_1008139-5872.jpg?w=826');
   background-size: cover;
}
.intro{
    max-width: 540px;
    text-align: center;
}
.home__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.home__name{
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

.scroll__down{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
}

@media  screen and (max-width: 1024px) {
    .aside{
        left: -110px;
    }
}